<a href="https://colab.research.google.com/github/sabbir179/test2/blob/main/Assignment_8_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 02: Evaluate the Diabetes Dataset

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: Import the dataset

In [1]:
#Import the required libraries
import pandas as pd

In [2]:
#Import the diabetes dataset
df_diabetes_data = pd.read_csv('pima-indians-diabetes.data', header=None)

#### 2: Analyze the dataset

In [3]:
#View the first five observations of the dataset
df_diabetes_data.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

#### 3: Find the features of the dataset

In [4]:
#Use the .NAMES file to view and set the features of the dataset
feature_names = ['Pregnant', 'glucose', 'bp', 'skin', 'insulin', 'bmi', 'peigree', 'age', 'label']

In [6]:
#Use the feature names set earlier and fix it as the column headers of the dataset
df_diabetes_data = pd.read_csv('pima-indians-diabetes.data', header=None, names=feature_names)

In [7]:
#Verify if the dataset is updated with the new headers
df_diabetes_data.head()

   Pregnant  glucose  bp  skin  insulin   bmi  peigree  age  label
0         6      148  72    35        0  33.6    0.627   50      1
1         1       85  66    29        0  26.6    0.351   31      0
2         8      183  64     0        0  23.3    0.672   32      1
3         1       89  66    23       94  28.1    0.167   21      0
4         0      137  40    35      168  43.1    2.288   33      1

In [8]:
#View the number of observations and features of the dataset
df_diabetes_data.shape

(768, 9)

#### 4: Find the response  of the dataset

In [9]:
#Select features from the dataset to create the model
feature_select_cols = ['Pregnant', 'insulin', 'bmi', 'age']

In [16]:
#Create the feature object
X_feature = df_diabetes_data[feature_select_cols]

In [17]:
#Create the reponse object
Y_target = df_diabetes_data['label']

In [18]:
#View the shape of the feature object
X_feature.shape

(768, 4)

In [19]:
#View the shape of the target object
Y_target.shape

(768,)

#### 5: Use training and testing datasets to train the model

In [20]:
#Split the dataset to test and train the model
# by defult 75% training data and 25% testing data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X_feature, Y_target, random_state=1 )

#### 6: Create a model  to predict the diabetes outcome

In [21]:
# Create a logistic regression model using the training set
from sklearn.linear_model import LogisticRegression
logReg = LogisticRegression()
logReg.fit(x_train, y_train)

LogisticRegression()

In [22]:
#Make predictions using the testing set
y_pred = logReg.predict(x_test)

#### 7: Check the accuracy of the model

In [23]:
#Evaluate the accuracy of your model
from sklearn import metrics
print (metrics.accuracy_score(y_test, y_pred))

0.6927083333333334

In [24]:
#Print the first 30 actual and predicted responses
print('actural:', y_test.values[0:30])
print('predicted:')

actural: [0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 0 0 1 1 1 1 0 0 0 1 0 1]
predicted: