<a href="https://colab.research.google.com/github/sabbir179/test2/blob/main/ML_a8_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#connect with google drive 
from google.colab import drive 
#mount with drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#Import the required libraries
import pandas as pd

In [3]:
#Import the diabetes dataset
df_diabetes_data = pd.read_csv('/content/drive/MyDrive/data/pima-indians-diabetes.data', header=None)

In [4]:
#View first 5 observations
df_diabetes_data.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [5]:
#Use name file (supplier with dataset) to set the columns
feature_names = ['Pregnant', 'glucose', 'bp', 'skin', 'insulin', 'bmi', 'pedigree', 'age', 'label']

In [6]:
#fix the dataframe with the column names
df_diabetes_data = pd.read_csv('/content/drive/MyDrive/data/pima-indians-diabetes.data', header=None, names=feature_names)

In [7]:
#View first five observations
df_diabetes_data.head()

   Pregnant  glucose  bp  skin  insulin   bmi  pedigree  age  label
0         6      148  72    35        0  33.6     0.627   50      1
1         1       85  66    29        0  26.6     0.351   31      0
2         8      183  64     0        0  23.3     0.672   32      1
3         1       89  66    23       94  28.1     0.167   21      0
4         0      137  40    35      168  43.1     2.288   33      1

In [8]:
#view the dataset shape
df_diabetes_data.shape

(768, 9)

In [9]:
#select features from the dataset for model building purpose
feature_select_cols = ['Pregnant', 'insulin', 'bmi', 'age']

#create feature object 
X_feature = df_diabetes_data[feature_select_cols]

#create response object
Y_target = df_diabetes_data['label']

In [10]:
#view shape of the feature object
X_feature.shape

(768, 4)

In [11]:
#view shape of the target object
Y_target.shape

(768,)

In [12]:
#split test and training data
#by defaul 75% training data and 25% testing data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X_feature, Y_target, random_state=1)

In [14]:
#train a logistic regression model on the training set
from sklearn.linear_model import LogisticRegression
logReg = LogisticRegression()
logReg.fit(x_train,y_train)

LogisticRegression()

In [15]:
#make predictions for the testing set
y_pred = logReg.predict(x_test)

In [16]:
#check for accuracy
from sklearn import metrics
print(metrics.accuracy_score(y_test, y_pred))

0.6927083333333334

In [20]:
#print the first 30 true and predicted responses
print('acutual:  ', y_test.values[0:30])
print ('predicted:', y_pred[0:30])

acutual:   [0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 0 0 1 1 1 1 0 0 0 1 0 1]
predicted: [0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0]