<a href="https://colab.research.google.com/github/sabbir179/test2/blob/main/ML_a8a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#connect with google drive 
from google.colab import drive 
#mount with drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#Import the required libraries
import pandas as pd

In [4]:
#Import the advertising dataset
df_adv_data = pd.read_csv('/content/drive/MyDrive/data/Advertising Budget and Sales.csv', index_col=0)

In [5]:
#View top 5 records
df_adv_data.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [8]:
#View the dataset size
df_adv_data.size

800

In [6]:
#View the shape of the dataset
df_adv_data.shape

(200, 4)

In [7]:
#View the columns of the dataset
df_adv_data.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

In [10]:
#Create a feature object from the columns
X_feature = df_adv_data[['Newspaper Ad Budget ($)', 'Radio Ad Budget ($)', 'TV Ad Budget ($)']]

In [11]:
#View feature object
X_feature.head()

   Newspaper Ad Budget ($)  Radio Ad Budget ($)  TV Ad Budget ($)
1                     69.2                 37.8             230.1
2                     45.1                 39.3              44.5
3                     69.3                 45.9              17.2
4                     58.5                 41.3             151.5
5                     58.4                 10.8             180.8

In [13]:
#Create the target object from sales column, which is a response in the dataset
Y_target = df_adv_data[['Sales ($)']]

In [14]:
#View the target object
Y_target.head()

   Sales ($)
1       22.1
2       10.4
3        9.3
4       18.5
5       12.9

In [15]:
#View the feature object's shape
X_feature.shape

(200, 3)

In [16]:
#View target object's shape
Y_target.shape

(200, 1)

In [17]:
#Split testing and training data
#By default, 75% is training data and 25% is testing data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X_feature, Y_target, random_state=1)

In [19]:
#View shape of train and test datasets for both feature and response
print(x_train.shape)
print(x_test.shape)
print (y_train.shape)
print (y_test.shape)

(150, 3)
(50, 3)
(150, 1)
(50, 1)

In [20]:
#Linear regression model  
#[code to create a linear regrassion model,which will predict the sales outcome]
# for any new data
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(x_train, y_train)

LinearRegression()

In [21]:
#Print the intercept and coefficients
print(linreg.intercept_)
print (linreg.coef_)

[2.87696662]
[[0.00345046 0.17915812 0.04656457]]

In [22]:
# Prediction
y_pred = linreg.predict(x_test)
y_pred

array([[21.70910292],
       [16.41055243],
       [ 7.60955058],
       [17.80769552],
       [18.6146359 ],
       [23.83573998],
       [16.32488681],
       [13.43225536],
       [ 9.17173403],
       [17.333853  ],
       [14.44479482],
       [ 9.83511973],
       [17.18797614],
       [16.73086831],
       [15.05529391],
       [15.61434433],
       [12.42541574],
       [17.17716376],
       [11.08827566],
       [18.00537501],
       [ 9.28438889],
       [12.98458458],
       [ 8.79950614],
       [10.42382499],
       [11.3846456 ],
       [14.98082512],
       [ 9.78853268],
       [19.39643187],
       [18.18099936],
       [17.12807566],
       [21.54670213],
       [14.69809481],
       [16.24641438],
       [12.32114579],
       [19.92422501],
       [15.32498602],
       [13.88726522],
       [10.03162255],
       [20.93105915],
       [ 7.44936831],
       [ 3.64695761],
       [ 7.22020178],
       [ 5.9962782 ],
       [18.43381853],
       [ 8.39408045],
       [14.08371047],
       [15.02195699],
       [20.35836418],
       [20.57036347],
       [19.60636679]])

In [23]:
#Import required libraries for calculating MSE (mean squared error)
from sklearn import metrics
import numpy as np

In [25]:
#Calculate the mean squared error (MSE)
print(np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

1.404651423032895

In [26]:
print('True', y_test.values[0:10])
print()
print('Pred', y_pred[0:10])

True [[23.8]
 [16.6]
 [ 9.5]
 [14.8]
 [17.6]
 [25.5]
 [16.9]
 [12.9]
 [10.5]
 [17.1]]

Pred [[21.70910292]
 [16.41055243]
 [ 7.60955058]
 [17.80769552]
 [18.6146359 ]
 [23.83573998]
 [16.32488681]
 [13.43225536]
 [ 9.17173403]
 [17.333853  ]]