<a href="https://colab.research.google.com/github/sabbir179/test2/blob/main/pd_practice8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd

In [4]:
first_serise = pd.Series(list('abcdefg'))

In [5]:
print(first_serise)

0    a
1    b
2    c
3    d
4    e
5    f
6    g
dtype: object

In [7]:
np_cuntries = np.array(['Usa', 'Canada',  'UK', 'Germany'])

In [9]:
s_cuntries = pd.Series(np_cuntries)

In [10]:
print(s_cuntries)

0        Usa
1     Canada
2         UK
3    Germany
dtype: object

In [1]:
# Last five olymnics data: place, year and number of countries participated
olympic_data_list = {'HostCity': ['London', 'Beijing', 'Athens', 'Sydney', 'Atlanta'], 
                     'Year': [2012, 2008, 2004, 2000, 1996],
                     'No. of Participating Countries': [205, 204, 201, 200, 197]}

In [4]:
df_olympic_data = pd.DataFrame(olympic_data_list)

In [5]:
df_olympic_data

  HostCity  Year  No. of Participating Countries
0   London  2012                             205
1  Beijing  2008                             204
2   Athens  2004                             201
3   Sydney  2000                             200
4  Atlanta  1996                             197

In [6]:
olympic_data_dict = {'London':{2012:205}, 'Beijing': {2008:204}}

In [7]:
df_olympic_data_dict = pd.DataFrame(olympic_data_dict)

In [8]:
df_olympic_data_dict

      London  Beijing
2012   205.0      NaN
2008     NaN    204.0

In [9]:
#select by City name
df_olympic_data.HostCity

0     London
1    Beijing
2     Athens
3     Sydney
4    Atlanta
Name: HostCity, dtype: object

In [10]:
#use describe function to display the content
df_olympic_data.describe

<bound method NDFrame.describe of   HostCity  Year  No. of Participating Countries
0   London  2012                             205
1  Beijing  2008                             204
2   Athens  2004                             201
3   Sydney  2000                             200
4  Atlanta  1996                             197>

Create DataFrame from dict of series

In [12]:
olympic_series_participation = pd.Series([205, 204, 201, 200, 197], index=[2012,2008,2004,2000,1996])
olympic_series_country = pd.Series(['London','Beijing','Athens','Sydny','Atlanta'],
                                   index=[2012,2008,2004,2000,1996])

In [13]:
df_olympic_series = pd.DataFrame({'No. of Participation Countries': olympic_series_participation,
                                  'Host Cities':olympic_series_country})

In [14]:
df_olympic_series

      No. of Participation Countries Host Cities
2012                             205      London
2008                             204     Beijing
2004                             201      Athens
2000                             200       Sydny
1996                             197     Atlanta

Create DataFrame from dict of ndarray

In [16]:
np_array = np.array([2012,2008,2004,2006])
dict_ndarray = {'year':np_array}

In [17]:
df_ndarray = pd.DataFrame(dict_ndarray)

In [18]:
df_ndarray

   year
0  2012
1  2008
2  2004
3  2006

Create DataFrame from DataFrame object

In [19]:
df_from_df = pd.DataFrame(df_olympic_series)

In [20]:
df_from_df

      No. of Participation Countries Host Cities
2012                             205      London
2008                             204     Beijing
2004                             201      Athens
2000                             200       Sydny
1996                             197     Atlanta