<a href="https://colab.research.google.com/github/sabbir179/test2/blob/main/pdPractic9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import libraries
import numpy as np
import pandas as pd

In [28]:
# create dataframe from dict of series for summer olympics: 1996 to 2012
olympic_series_participation = pd.Series([205, 204, 201, 200, 197], index=[2012,2008,2004,2000,1996])
olympic_series_country = pd.Series(['London','Beijing','Athens','Sydny','Atlanta'],
                                   index=[2012,2008,2004,2000,1996])
df_olympic_series = pd.DataFrame({'No. of Participating Countries': olympic_series_participation,
                                  'Host Cities':olympic_series_country})

In [29]:
# display content of the dataset
df_olympic_series

      No. of Participating Countries Host Cities
2012                             205      London
2008                             204     Beijing
2004                             201      Athens
2000                             200       Sydny
1996                             197     Atlanta

View Data

In [30]:
# view dataframe describe
df_olympic_series.describe

<bound method NDFrame.describe of       No. of Participating Countries Host Cities
2012                             205      London
2008                             204     Beijing
2004                             201      Athens
2000                             200       Sydny
1996                             197     Atlanta>

In [31]:
# view top 2 records
df_olympic_series.head(2)

      No. of Participating Countries Host Cities
2012                             205      London
2008                             204     Beijing

In [32]:
# view last 3 records
df_olympic_series.tail(3)

      No. of Participating Countries Host Cities
2004                             201      Athens
2000                             200       Sydny
1996                             197     Atlanta

In [33]:
#view indexs of dataset
df_olympic_series.index

Int64Index([2012, 2008, 2004, 2000, 1996], dtype='int64')

In [34]:
#view colums of the dataset
df_olympic_series.columns

Index(['No. of Participating Countries', 'Host Cities'], dtype='object')

Select Data

In [35]:
#select data for Host Cities
df_olympic_series['Host Cities']

2012     London
2008    Beijing
2004     Athens
2000      Sydny
1996    Atlanta
Name: Host Cities, dtype: object

In [37]:
#another data selection No. of Participating Countries
df_olympic_series['No. of Participating Countries']

2012    205
2008    204
2004    201
2000    200
1996    197
Name: No. of Participating Countries, dtype: int64

In [39]:
#select lable-location based access by lable
df_olympic_series.loc[2012]

No. of Participating Countries       205
Host Cities                       London
Name: 2012, dtype: object

In [40]:
#Integer-Location based indexing by position
df_olympic_series.iloc[0:2]

      No. of Participating Countries Host Cities
2012                             205      London
2008                             204     Beijing

In [41]:
#Integer-Location based data selection by index value
df_olympic_series.iat[3,1]

'Sydny'

In [42]:
#select data element by condition where number of participated countries are more than 200
#hint - use boolean expression
df_olympic_series[df_olympic_series['No. of Participating Countries']>200]

      No. of Participating Countries Host Cities
2012                             205      London
2008                             204     Beijing
2004                             201      Athens