<a href="https://colab.research.google.com/github/sabbir179/test2/blob/main/pdSQLPreparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import pandas library
import pandas as pd

In [3]:
#import sqllite
import sqlite3

In [4]:
# Create SQL table
create_table = """
CREATE TABLE student_score
(Id INTEGER, Name VARCHAR(20), Math REAL, Science REAL
); """

In [5]:
#execute the SQL statment
executeSQL = sqlite3.connect(':memory')
executeSQL.execute(create_table)
executeSQL.commit()

In [7]:
# prepare a SQL query
SQL_query = executeSQL.execute('select * from student_score')

In [8]:
# fetch result from the SQLlite database
resulset = SQL_query.fetchall()

In [9]:
#view result (empty data)
resulset

[]