<a href="https://colab.research.google.com/github/sabbir179/test2/blob/main/practiceDataOperation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Operation

In [27]:
import pandas as pd

In [28]:
#declare movie rating dataframe: raings from 1 to 5 ( star * rating)
df_movie_rating = pd.DataFrame(
                  {'movie 1': [5,4,3,3,2,1],
                   'movie 2' : [4,5,2,3,4,2]},
                   index =['Tom', 'Jeff', 'Peter', 'Ram', 'Ted', 'Paul']
)

In [29]:
df_movie_rating

       movie 1  movie 2
Tom          5        4
Jeff         4        5
Peter        3        2
Ram          3        3
Ted          2        4
Paul         1        2

In [30]:
def movie_grade(rating):
  if rating == 5:
    return 'A'
  if rating == 4:
    return 'B'
  if rating == 3:
    return 'C'
  else:
    return 'F'

In [31]:
print(movie_grade(5))

A

In [32]:
df_movie_rating.applymap(movie_grade)

      movie 1 movie 2
Tom         A       B
Jeff        B       A
Peter       C       F
Ram         C       C
Ted         F       B
Paul        F       F

Data Operation with Statistical functions

In [33]:
df_test_scores = pd.DataFrame(
                { 'Test1' : [95,84,73,88,82,61],
                 'Test2' : [74, 85, 82, 73, 77, 79]},
                 index = ['Jack', 'Lewis', 'Patrick', 'Rich', 'Kelly', 'Paula' ]
)

In [34]:
df_test_scores.max()

Test1    95
Test2    85
dtype: int64

In [35]:
df_test_scores.mean()

Test1    80.500000
Test2    78.333333
dtype: float64

In [36]:
df_test_scores.std()

Test1    11.979149
Test2     4.633213
dtype: float64

In [37]:
df_president_name = pd.DataFrame({'first': ['George', 'Bill', 'Ronald', 'Jimmy', 'George' ],
                                  'last': ['Bush', 'Clinton', 'Ragan', 'Carter', 'Washington'] })

In [19]:
df_president_name

    first        last
0  George        Bush
1    Bill     Clinton
2  Ronald       Ragan
3   Jimmy      Carter
4  George  Washington

In [38]:
grouped = df_president_name.groupby('first')

In [39]:
grp_data = grouped.get_group('George')
grp_data

    first        last
0  George        Bush
4  George  Washington

Example of sort data

In [40]:
df_president_name.sort_values('first')

    first        last
1    Bill     Clinton
0  George        Bush
4  George  Washington
3   Jimmy      Carter
2  Ronald       Ragan

Data Standardization
This example shows how to standardize a dataset.

In [42]:
# create a function to return the standardize value
def standardize_tests(test):
    return (test-test.mean()) / test.std()

In [43]:
standardize_tests(df_test_scores['Test1'])

Jack       1.210437
Lewis      0.292174
Patrick   -0.626088
Rich       0.626088
Kelly      0.125218
Paula     -1.627829
Name: Test1, dtype: float64

In [46]:
# Apply the function to the entire dataset
def standardize_test_scores(datafrm):
    return datafrm.apply(standardize_tests)

In [45]:
standardize_test_scores(df_test_scores)

            Test1     Test2
Jack     1.210437 -0.935276
Lewis    0.292174  1.438886
Patrick -0.626088  0.791387
Rich     0.626088 -1.151109
Kelly    0.125218 -0.287777
Paula   -1.627829  0.143889