<a href="https://colab.research.google.com/github/sabbir179/test2/blob/main/skLearn2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Import the required libraries
import numpy as np
import pandas as pd

In [2]:
#Import the Boston dataset from the scikit learn library
from sklearn.datasets import load_boston
boston_dataset = load_boston()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [3]:
#Create a pandas dataframe and store the data
df_boston = pd.DataFrame(boston_dataset.data)
df_boston.columns = boston_dataset.feature_names

In [4]:
#Append price, the target value, as a new column in the dataset
df_boston['Price'] = boston_dataset.target

In [5]:
#View the top five observations
df_boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [6]:
#Assign feature on the x axis
x_features = boston_dataset.data

In [7]:
#Assign target on the Y axis
Y_target = boston_dataset.target

In [8]:
#Import linear model, which is the estimator
from sklearn.linear_model import LinearRegression
linReg = LinearRegression()

In [9]:
#fit the data into the estimator
linReg.fit(x_features, Y_target)

LinearRegression()

In [10]:
#Print the intercept
print('The estimated intercept is: %.2f ' % linReg.intercept_)

The estimated intercept is: 36.46

In [11]:
#Print the coefficient
print('The coefficient is: %d' % len(linReg.coef_))

The coefficient is: 13

In [13]:
#Train the model by spitting the whole dataset into train and test datasets
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(x_features, Y_target)

In [14]:
#Print the shape of the dataset
print(boston_dataset.data.shape)

(506, 13)

In [15]:
#Print the shapes of the training and testing datasets
print(X_train.shape, X_test.shape, Y_train.shape, Y_test.shape)

(379, 13) (127, 13) (379,) (127,)

In [16]:
#Fit the training sets into the model
linReg.fit(X_train, Y_train)

LinearRegression()

In [19]:
#Calculate the mean squared error (MSE) or residual sum of squares
print('Mean Squared Error (MSE) %.2f ' % np.mean((linReg.predict(X_test)- Y_test) **2) )

Mean Squared Error (MSE) 23.81

In [21]:
#Calculate the variance score
print('Veriance Score: %.2f' % linReg.score(X_test, Y_test))

Veriance Score: 0.65